@import "normalize";
@import "bourbon/bourbon";

$c-main: #0088d0;
$c-secondary: #7F1821;
$c-secondary-half: #d8b9bc;
$p-content: 10px;
$lh: 1.4em;

@mixin transition-default {
	//transition: background-color 0.10s ease-out, color 0.10s ease-out, border-color 0.10s ease-out, opacity 0.10s ease-out;
}

html, body {
	font-family: $helvetica;
	font-size: 14px;
	line-height: $lh;
	height: 100%;
	padding: 0px;
	margin: 0px;
	-webkit-overflow-scrolling: touch;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-ms-touch-action: manipulation;
	touch-action: manipulation;
}

a {
	color: $c-main;
	text-decoration: none;
}

body:after {
	display: none;
	content: url('/img/icons.png');
}

select, input {
	outline: none;
	-webkit-appearance: none !important;
	-moz-appearance: none !important;
	appearance: none !important;
}

.inline-select-wrapper {
	position: relative;
}

.inline-select {
	opacity: 0;
	position: absolute;
	height: 20px;
	width: 220px;
	cursor: pointer;
	font-size: 12px;
}

.inline-select-holder-wrapper {
	@include display(flex);
	@include align-items(center);
	height: 20px;
	color: $c-main;
}

.inline-select-holder {
	
}

.hideme {
	display: none !important;
}

//List group
.list-filters {
	margin-bottom: 12px;
	padding: 0px $p-content;
}

.list-filters-select {
	margin-bottom: 10px;
}

.list-filters-search {
	padding: 3px;
	border: 1px solid #ccc;
	border-radius: 0px;
	height: 24px;
	width: 100%;
	outline: none;
	max-width: 400px;
	box-sizing: border-box !important;
	&:focus {
		border: 1px solid $c-main;
	}
}

.list-group {
	margin-bottom: 10px;
}

section:last-of-type {
	margin-bottom: 0px;
}

.list-group-title {
	margin: 0px $p-content 5px $p-content;
	color: $c-secondary;
	font-weight: bold;
	border-bottom: 1px solid $c-secondary-half;
	@include display(flex);
	@include align-items(center);
}

//List item 
.list-item-wrapper {
	width: 100%;
	cursor: pointer;
	@include display(flex);
	&.list-item-hover:hover {
		background-color: #F8F5EC;
	}
}

.list-item-link {
	padding-left: $p-content;
	color: #000;
	width: 100%;
	@include display(flex);
	@include align-items(center);
}

.list-item-content {
	width: 100%;
	@include display(flex);
	@include align-items(center);
	&>* {
		white-space: nowrap;
		padding-right: 10px;
	}
}

.list-item-name {
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
}

.list-item-bookmark {
	width: 26px;
	height: 26px;
	color: #ccc;
	padding-right: $p-content;
	margin: 0px 0px 0px 10px;
	@include display(flex);
	@include align-items(center);
	@include justify-content(center);
	&.selected {
		color: $c-main;
	}
}

//Specific list items

@mixin list-item-other {
	@include flex-shrink(0);
	overflow: hidden;
	text-overflow: ellipsis;
	color: #666;
	font-size: 12px;
}

.list-item-icon {
	@include list-item-other;
	width: 16px;
}

.list-item-monster-type {
	@include list-item-other;
	width: 70px;
}

//Description
.description {
	padding: 0px $p-content;
}

.description-title {
	font-family: $georgia;
	color: $c-secondary;
	margin-bottom: 2px;
	font-size: 22px;
	line-height: $lh;
}

.description-block {
	margin: 8px 0px;
}

.description-item {
	padding: 1px 0px;
}

.description-item-title {
	color: $c-secondary;
}

.description-text {
	padding: 3px 0px;
}

.description-p:not(:last-child) {
	margin-bottom: 6px;
}

.description-separator {
	height: 1px;
	width: 100%;
	background-color: $c-secondary-half;
}

.description-block-title {
	margin-bottom: 4px;
	color: $c-secondary;
	border-bottom: 1px solid $c-secondary-half;
	font-size: 18px;
	line-height: $lh;
}

.description-subtitle {
	margin-bottom: 10px;
	font-style: italic;
	@include display(flex);
	@include align-items(center);
}

.description-stats-table {
	display: table;
	table-layout: fixed;
	width: 100%;
	& > * {
		font-size: 12px;
		display: table-cell;
		text-align: center;
	}
}

.description-stat-title {
	font-weight: bold;
	color: $c-secondary;
}

//Mobile
.nav-mobile {
	border-bottom: 1px solid #ccc;
	height: 36px;
	margin-bottom: 10px;
	font-size: 16px;
	line-height: 17px;
	@include display(flex);
	@include justify-content(space-between);
	@include align-items(center);
}

.nav-breadcrumbs-mobile {
	@include display(flex);
	@include align-items(center);
}

.nav-logo-mobile {
	font-weight: bold;
	padding-left: $p-content;
}

.nav-bookmarks-mobile {
	padding-right: $p-content;
}

.list-item-menu-mobile {
	padding: 0px $p-content;
	height: 26px;
	@include display(flex);
	@include align-items(center);
}

.footer-mobile {
	margin: 10px 0px;
	padding: 0px $p-content;
}

// Icons
.icon {
	@include flex-shrink(0);
	background-position: -999px -999px;
	width: 16px;
	height: 16px;
	background-size: 128px 16px;
	background-repeat: no-repeat;
	padding-right: 0px;
	margin-right: 3px;
	background-image: url('/img/icons.png');
}

.icon-school-abjuration {
	background-position: 0px 0px;
}

.icon-school-conjuration {
	background-position: -16px 0px;
}

.icon-school-divination {
	background-position: -32px 0px;
}

.icon-school-enchantment {
	background-position: -48px 0px;
}

.icon-school-evocation {
	background-position: -64px 0px;
}

.icon-school-illusion {
	background-position: -80px 0px;
}

.icon-school-necromancy {
	background-position: -96px 0px;
}

.icon-school-transmutation {
	background-position: -112px 0px;
}
