@import "~_styles/constants.scss";

@mixin root {
  height: g(8);
  padding: 0px $g__padding-h;
  display: flex;
  align-items: center;
}

.root_style_ {
  &text {
    @include root;
  }
  &h2 {
    @include root;
    font-weight: bold;
    color: $pl__secondary;
  }
  &normal {
    @include root;
    cursor: pointer;
    &:hover {
      background-color: $pl__grey-l;
    }
  }
  &link {
    @include root;
    color: $pl__primary;
    &:hover {
      color: $pl__secondary;
    }
  }
  &show-all {
    @include root;
    font-size: 12px;
    color: $pl__grey;
    cursor: pointer;
    &:hover {
      background-color: $pl__grey-l;
    }
  }
}

.root_is-hidden_ {
  &true {
    display: none;
  }
  &false {
    display: flex;
  }
}