@import "~_styles/constants.scss";

@mixin root {
  height: g(8);
  padding: 0px $g__padding-h;
  display: flex;
  align-items: center;
}

.root_style_ {
  &normal {
    @include root;
    cursor: pointer;
    &:hover {
      background-color: $pl__grey-l;
    }
  }
  &link {
    @include root;
    color: $pl__primary;
    &:hover {
      color: $pl__secondary;
    }
  }
  &show-more {
    @include root;
    font-size: 12px;
    color: $pl__grey;
    cursor: pointer;
    &:hover {
      background-color: $pl__grey-l;
    }
  }
}